body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.829), rgb(0, 0, 0)), url("images/netflex-bg.jpg");
    background-repeat: none !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav {
    display: flex;
    justify-content: space-between;
}


.logo {
    width: 110px;
    margin: 20px 30px;
}

.sign-in button {
    color: white;
    background-color: red;
    border: none;
    margin-right: 40px;
    height: 30px;
    width: 75px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 15px
}


/* HERO */
.hero {
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 30px;
    letter-spacing: 1px;
}

.hero p {
    padding: 0px 50px;
    font-size: 20px;
    line-height: 29px;
}

.email {
    text-align: center;
}


.email input {
    width: 430px;
    height: 40px;
    padding: 5px;
}

.btn {
    text-align: center;

}

.btn button {
    border: 1px solid red;
    border-radius: 3px;
    background-color: red;
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: white;
    margin: 20px 0px 60px 0px;
}

hr {
    border: 5px solid rgb(126, 124, 124);

}

/* CONTAINER1 */

.container1,
.container2,
.container4 {
    display: flex;
    justify-content: center !important;
    color: white;
    flex-direction: column;
    text-align: center;

}

.container1 .text h1,
.container2 .text h1,
.container3 h1,
.container4 .text h1 {
    font-size: 30px;
    color: white;

}

.container1 .text p,
.container2 .text p,
.container4 .text p {
    color: white;
    font-size: 18px;
    line-height: 25px;
    padding: 0px 20px;
}

.container1 .text,
.container2 .text,
.container4 .text {
    padding: 10px 30px 0px 30px;
}

.tv {
    width: 400px
}

.container1 .tv,
.container2 .images,
.container4 .images {
    width: 400px;
}


.container3 {
    color: white;
    text-align: center;
    padding: 25px;
}




/* ACCORDION */


#accordion-container {
    text-align: center;
    margin-bottom: 30px;
}

.accordion {
    background-color: rgb(37, 37, 37);
    color: white;
    height: 50px;
    margin-top: 8px;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    width: 100%;
    outline-color: rgb(32, 31, 34);
    font-size: 18px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#accordion-container h1 {
    font-size: 25px;
    padding: 20px 80px;
    color: white;
    text-align: center;
    margin: 20px 0px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    text-align: left !important;
    background-color: rgb(37, 37, 37);
    color: white;
    display: none;
    overflow: hidden;
    text-align: center;
    font-size: 17px;
    padding: 10px 20px;
}

.plus {
    font-size: 40px;
}


.ready {
    color: white;
    font-size: 20px;
    margin: 0px 40px;
    padding: 10px;
    text-align: center;
}

.ready-con {
    text-align: center;
}

.ready-input {
    border: none;
    margin-top: 20px;
    height: 45px;
    width: 90%;
    padding: 0px 10px;
}

.ready-btn {
    width: 30%;
    height: 43px;
    color: #fff;
    background: red;
    margin: 10px 0px 40px 0px;
    font-size: 16px;
    border-radius: 5px;
}

/* FOOTER */
footer {
    height: 450px;
    margin-bottom: 20px;
}

.footertext {
    color: rgb(151, 146, 146);
    font-size: 17px;
    margin: 50px 0px 30px 40px;
}

.footer-container {
    display: flex;
    margin: 0px 40px;

}

.box1,
.box2 {
    display: flex;
    flex-direction: column;

}

.box2 {
    margin-left: 100px;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4 {
    display: flex;
    flex-direction: column !important;


}

.footer-1 a,
.footer-2 a,
.footer-3 a,
.footer-4 a {
    color: rgb(151, 146, 146);
    text-decoration: none;
    margin: 10px 0px;
    font-size: 13px;
}

.footer-1 a:hover {
    color: rgb(48, 48, 40);
    transition: 0.4s ease out;
}

.p {
    color: rgb(128, 128, 128);
    text-align: left;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 50px;
}

.footer-desktop {
    display: none;
}


/* MEDIA QUERIES */


@media screen and (min-width:768px) {
    .logo {
        width: 150px;
    }

    .sign-in button {
        margin-right: 40px;
        height: 35px;
        width: 100px;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 15px;

    }

    /* HERO */
    .hero h1 {
        font-size: 50px;
        letter-spacing: 1px;
    }

    .hero p {
        font-size: 30px;
        line-height: 29px;
    }

    .email input {
        width: 400px;
        height: 40px;
        padding: 5px;
    }

    .email-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }

    .btn {
        text-align: left;
    }

    .btn button {
        width: 180px;
        height: 54px;
        font-size: 20px;
        margin: 0px 0px 0px 0px;
    }

    .container1 {
        justify-content: space-between !important;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .container1 .text,
    .container2 .text,
    .container4 .text {
        width: 420px;
        text-align: left;
    }

    .container1 .text h1,
    .container2 .text h1,
    .container3 .text h1,
    .container4 .text h1 {

        font-size: 40px;
        padding-left: 20px;
    }

    .container1 .text p,
    .container .text p,
    .container3 .text p,
    .container4 .text p {
        font-size: 20px;
        padding-left: 20px;
    }

    .container1 .tv,
    .container2 .images,
    .container4 .images {
        width: 600px;
        text-align: left;
        padding-right: 200px;
    }

    .container2 {
        flex-direction: row-reverse;
        align-items: center;

    }

    .container3 {
        text-align: left;
        width: 250px;

    }

    .container4 {
        justify-content: space-evenly !important;
        flex-direction: row-reverse;
        text-align: center;
        align-items: center;

    }


    /* ACCORDION */
    #accordion-container {
        padding: 0px 150px;
    }

    .ready-con {
        display: flex;
        flex-direction: column;
    }


    .ready-input {
        border: none;
        margin-top: 20px;
        height: 45px;
        width: 70%;
        padding: 0px 10px;
    }

    .ready-btn {
        width: 30%;
        height: 43px;
        color: #fff;
        background: red;

        font-size: 16px;
        border-radius: 5px;
    }

    .search {
        text-align: center;
        align-items: center;
    }


    .search input {
        width: 530px;
        height: 30px;
        padding: 10px;
    }

    .search button {
        text-align: center;

    }

    .search button {
        border: 1px solid red;
        border-radius: 3px;
        background-color: red;
        width: 350px;
        height: 51px;
        font-size: 16px;
        color: white;
        position: relative;
        right: 50px;
        margin: 20px 0px 60px 0px;
    }


    /* FOOTER */
    footer {
        height: 150px;

    }

    .footer-container {
        display: none;
    }

    .footer-desktop {
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 10px 40px;

    }


}